body {
	font-size: 0.875em; 
}

#wrapper {
	width: 100%;
	border-radius: 1em;
	margin: 0em auto;
	padding: 1em;
	background-color: rgba(51, 204, 51, 0.6);
}

#gameTabs {
	margin: 0;
	padding: 0;
	position: relative;
	top: 0.4em;
}

#gameTabs li {
	display: inline-block;
	width:  12.5%;
	padding: 0.2em;
	background: #fff;
	border-radius: 0.4em;
	font-weight:bold;
	list-style: none;
	cursor: pointer;
	margin-right: 0.4em;
	text-align: center;
}

#gameTabs img {
	width: 100%;
}

#gameTabs li:last-of-type {
	margin-right: 0;
}

.gameDetails {
	background: #fff;
	width: 90%;
	display: none;
	padding: 1em
}

.selectedGame  {
	display: block;
}

.drawNumbers input {
	text-align: center;
	font-weight: bold;
	color: #000;
}

input.bonusNumber {
	background-color: red;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.selected {
	background-color: blue;
	color: white;
}

.bonusSelected {
	background-color: red;
	color: white;
}

.drawPool {
	border:1px solid #000;
	margin-bottom:5px;
}

.bonusPool {
	border: 1px solid black;
}

.bonusPoolButton,
.poolButton 
{
	width: 8.33%;
	text-align:center;
	
}